{%extends 'main/main_home.html'%}
{%block content%}
<!-- partial -->
<div class="main-panel">
  {% include 'main/message.html' %}
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <!-- here name-->
            <h3 class="font-weight-bold">Welcome, {{name}}</h3>

          </div>
          <div class="col-12 col-xl-4">
            <div class="justify-content-end d-flex">
              <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                <div aria-haspopup="true" aria-expanded="true">
                  Today, {% now "jS F Y (g:i a)" %}
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 grid-margin transparent">
        <div class="row">
          <div class="col-md-6 mb-4 stretch-card transparent">
            <div class="card card-tale">
              <div class="card-body">
                <p class="mb-4">Total Students</p>
                <p class="fs-30 mb-2">{{std}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4 stretch-card transparent">
            <div class="card card-dark-blue">
              <div class="card-body">
                <p class="mb-4">Total Subjects</p>
                <p class="fs-30 mb-2">{{sub}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
            <div class="card card-light-blue">
              <div class="card-body">
                <p class="mb-4">Total Admin</p>
                <p class="fs-30 mb-2">{{admin_cnt}}</p>
                  
              </div>
            </div>
          </div>
          <div class="col-md-6 stretch-card transparent">
            <div class="card card-light-danger">
              <div class="card-body">
                <p class="mb-4">Total Department</p>
                <p class="fs-30 mb-2">{{cnt1}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <!-- partial -->
  </div>
</div>
  <!-- main-panel ends -->
  <!-- container-scroller -->
  {%endblock%}