{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Registration</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'template/vendors/vendors/feather/feather.css'%}">
  <link rel="stylesheet" href="{% static 'template/vendors/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'template/vendors/vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'template/vendors/select2/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'template/vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'template/css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'template/images/favicon.png' %}">
</head>

<body>

      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Register</h4>
                  <p class="card-description">
                    Register In This Page
                  </p>
                   
                  <form action = "" method="POST" class="forms-sample">
                    {% csrf_token %}
                    <div class="form-group row">
                      <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Username</label>
                      <div class="col-sm-9">
                        {{form.username}}
                  
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
                      <div class="col-sm-9">
                        {{form.email}}
                      </div>
                    </div>
                    <!-- <div class="form-group row">
                      <label for="exampleInputMobile" class="col-sm-3 col-form-label">Mobile</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="exampleInputMobile" placeholder="Mobile number">
                      </div>
                    </div> -->
                    <div class="form-group row">
                      <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Password</label>
                      <div class="col-sm-9">
                        {{form.password1}}
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Re Password</label>
                      <div class="col-sm-9">
                        {{form.password2}}
                      </div>
                    </div>
                    <!-- <div class="form-check form-check-flat form-check-primary">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Remember me
                      </label> -->
                    </div>
                    {{form.erros}}
                    <div>
                      <div class="d-flex justify-content-center links  pb-5">
                      Already have an account? <a href="{% url 'login'%}" class = "ml-2">Login</a>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <!-- <button class="btn btn-light">Cancel</button> -->
                  </form>
                </div>
              </div>
            </div>
            </div>
          </div>

           
 
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'template/vendors/js/vendor.bundle.base.js'%}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'template/vendors/typeahead.js/typeahead.bundle.min.js'%}"></script>
    <script src="{% static 'template/vendors/select2/select2.min.js'%}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'template/js/off-canvas.js'%}"></script>
    <script src="{% static 'template/js/hoverable-collapse.js'%}"></script>
    <script src="{% static 'template/js/template.js'%}"></script>
    <script src="{% static 'template/js/settings.js'%}"></script>
    <script src="{% static 'template/js/todolist.js'%}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="{% static 'template/js/file-upload.js'%}"></script>
    <script src="{% static 'template/js/typeahead.js'%}"></script>
    <script src="{% static 'template./js/select2.js'%}"></script>
    <!-- End custom js for this page-->
  </body>
